.carousel {
  background-image: url("../../img/backapp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  .left {
    padding-left: 13%;
    padding-top: 11%;
    .btnApp {
      @include button(
        300px,
        35px,
        white,
        #fb4226,
        0,
        white,
        #fb4226,
        #fb4226,
        #fb4226
      );
      margin-bottom: 10px;
    }
    .left_h {
      font-size: 30px;
      line-height: 55px;
    }
    .left_p {
      padding: 1.5rem 0;
    }
    .text_p a {
      color: white;
      text-decoration: none;
      &:hover {
        color: #fb4226;
        transition: 0.5s;
      }
    }
  }
  .right {
    padding-left: 8%;
    padding-top: 7%;
    img {
      height: 418px;
      width: 85%;
    }
    .right_1 {
      position: absolute;
      width: 46%;
    }
    .right_2 {
      width: 46%;
      position: relative;
      left: 5px;
      top: 9px;
      img {
        width: 99%;
        height: 399px;
        border-radius: 17px;
        display: flex !important;
      }
      .slick-next {
        display: none !important;
      }
      .slick-prev {
        display: none !important;
      }
    }
  }
}
